<!DOCTYPE html>
<html>
<head>
  <title>Edition</title>
  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body {
      width: 384px;
      margin: 0;
      padding: 0;
      border: 0;
      text-align: center;
      font-family: 'Merienda One', cursive;
    }
    h1 {
      margin:0;
      margin-top: 10px;
      padding:0;
      font-size: 42px;
      line-height: 40px;
    }
    h2 {
      margin:0;
      padding:0;
      font-size: 20px;
    }
    p {
      font-size: 20px;
    }
    img {
      margin-top: 20px;
      max-width: 100%;
    }
  </style>
</head>
<body>
  <h1>Lear Nonsense</h1>
  <h2>The Nonsense of Edward Lear</h2>
  <img src="/<%=index %>.png"/>
  <p><% nonsense.prose.forEach(function(prose){ %><%= prose %><br/><% }) %></p>
  <p>*</p>
</body>
</html>